html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

}

img {
  width: 100%;
}
#img-capa {
  width: 300px;
}
#forca {
  width: 30%;
  margin: auto;
}
a:link {
  text-decoration: none;
  color: black;
}

.container {
  border: 5px solid black;
  margin: 10px;
  width: 300px;
  height: 870px;
}
p {
  text-align: center;
  font-size: 200%;
}
h1 {
  background-color: silver;
  text-align: center;
  margin: 5px;
  border: 5px double black;
}
h2 {
  text-align: center;
}
img {
  margin: auto;
  display: block;
}
.teclado {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
.teclado_fim {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.letra {
  height: 40px;
  width: 40px;
  margin: auto;
}
.oculto {
  height: 40px;
  width: 40px;
  border: 2px solid white;
  background-color: white;
}
